/* HEADER */

header {
    position: fixed;
    width: 100%;
    background: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    z-index: 999;
  
    & > .inner {
      height: 120px;
  
      .logo {
        height: 75px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
  
      .sub-menu {
        display: flex;
        position: absolute;
        top: 10px;
        right: 0;
  
        .menu {
          display: flex;
          font-family: Arial, sans-serif;
  
          li {
            position: relative;
  
            &:first-child::before {
              display: none;
            }
  
            &::before {
              content: "";
              width: 1px;
              height: 12px;
              background: #e5e5e5;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
            }
  
            a {
              font-size: 12px;
              padding: 11px 16px;
              display: block;
              color: #656565;
  
              &:hover {
                color: #000;
              }
            }
          }
        }
  
        .search {
          height: 34px;
          position: relative;
  
          input {
            width: 36px;
            height: 34px;
            padding: 4px 10px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;
            background: #fff;
            color: #777;
            font-size: 12px;
            transition: width 0.4s;
  
            &:focus {
              width: 190px;
              border-color: var(--starbucks-color);
            }
          }
  
          .material-icons {
            height: 24px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5px;
            margin: auto;
            cursor: pointer;
            transition: 0.4s;
          }
        }
  
        .focused {
          .material-icons {
            opacity: 0;
          }
        }
      }
    }
  
    .main-menu {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
  
      .item {
        &:hover .item__contents {
          display: block;
        }
  
        .item__name {
          padding: 10px 20px 34px 20px;
          font-family: Arial, sans-serif;
          font-size: 13px;
        }
        &:hover {
          .item__name {
            background: #2c2a29;
            color: var(--starbucks-color);
            border-radius: 6px 6px 0 0;
          }
        }
  
        .item__contents {
          width: 100%;
          position: fixed;
          left: 0;
          display: none;
  
          .contents__menu {
            background: #2c2a29;
  
            & > ul {
              display: flex;
              padding: 20px 0;
              & > li {
                width: 220px;
                h4 {
                  padding: 3px 0 12px 0;
                  font-size: 14px;
                  color: #fff;
                }
                ul li {
                  padding: 5px 0;
                  font-size: 12px;
                  color: #999;
                  cursor: pointer;
  
                  &:hover {
                    color: var(--starbucks-color);
                  }
                }
              }
            }
          }
          .contents__texture {
            padding: 26px 0;
            font-size: 12px;
            background-image: url("../images/main_menu_pattern.jpg");
  
            h4 {
              color: #999;
              font-weight: 700;
            }
            p {
              color: var(--starbucks-color);
              margin: 4px 0 14px;
            }
          }
        }
      }
    }
  }
  
  header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
  
    .badge {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 12px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }