.notification {
  position: relative;
  .notice-line {
    .bg-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #333;
    }
    .bg-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #f6f5ef;
    }

    .inner {
      height: 62px;
      display: flex;

      .inner__left {
        width: 60%;
        height: 100%;
        background-color: #333;
        display: flex;
        align-items: center;

        h2 {
          color: #fff;
          font-size: 17px;
          font-weight: 700;
          margin-right: 20px;
        }

        .swiper {
          height: 62px;
          flex-grow: 1;
          overflow: hidden;

          .swiper-slide {
            height: 62px;
            display: flex;
            align-items: center;
            a {
              color: #fff;
            }
          }
        }
        .notice-line__more {
          width: 62px;
          height: 62px;
          display: flex;
          justify-content: center;
          align-items: center;
          .material-icons {
            color: #fff;
            font-size: 30px;
          }
        }
      }
      .inner__right {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h2 {
          font-size: 17px;
          font-weight: 700;
        }

        .toggle-promotion {
          width: 62px;
          height: 62px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          .material-icons {
            font-size: 30px;
          }
        }
      }
    }
  }

  .promotion {
    position: relative;
    height: 693px;
    background-color: #f6f5ef;
    transition: height .4s;
    overflow: hidden;

    .swiper {
      width: calc(819px * 3 + 20px);
      height: 553px;
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: calc((819px * 3 + 20px) / -2);

      overflow: hidden;
      .swiper-wrapper {
        display: flex;
      }

      .swiper-slide {
        position: relative;
        flex-shrink: 0; /* 슬라이드 크기 고정 */
        opacity: 0.2;

        .btn {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .swiper-slide-active {
        opacity: 1;
      }
    }

    .swiper-pagination {
      bottom: 40px;
      left: 0;
      right: 0;
  
      .swiper-pagination-bullet {
        background-color: transparent;
        background-image: url(../assets/promotion_slide_pager.png);
        width: 12px;
        height: 12px;
        margin-right: 6px;
        outline: none;
  
        &:last-child {
          margin-right: 0;
        }
      }
  
      .swiper-pagination-bullet-active {
        background-image: url(../assets/promotion_slide_pager_on.png);
      }
    }

    .swiper-prev ,
    .swiper-next {
      width: 42px;
      height: 42px;
      border: 2px solid #333;
      border-radius: 50%;
      position: absolute;
      top: 300px;
      z-index: 1;
      cursor: pointer;
      /* outline: none; */
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .4s;

      &:hover {
        background-color: #333;
        color: #fff;
      } 
    }

    .swiper-prev {
      left: 50%;
      margin-left: -480px;
    }
    
    .swiper-next {
      right: 50%;
      margin-right: -480px;
    }

    &.hide {
      height: 0;
    }

  }

  
}
